### Exercises
The dataset for these exercises lives in the Codeup Data Science MySQL Server. The database name is curriculum_logs.

Go through the lesson commenting code, adding docstrings, and adding markdown to support what is happening.

In [1]:
#standard imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import env

/usr/local/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
#set up url using credentials in env file
url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/curriculum_logs'

#sql querry to ping the serve    
query = '''
SELECT date,
       path as endpoint,
       user_id,
       cohort_id,
       ip as source_ip
FROM logs;
'''
#assign the query to dataframe
df0 = pd.read_sql(query, url)

In [3]:
# make a copy of dataframe so changes made in that dataframe will not affect the original dataframe
df = df0.copy()

In [4]:
#peek the head
df.head()

,date,endpoint,user_id,cohort_id,source_ip
0,2018-01-26,/,1,8.0,97.105.19.61
1,2018-01-26,java-ii,1,8.0,97.105.19.61
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61
4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61

In [5]:
#get info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900223 entries, 0 to 900222
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       900223 non-null  object
 1   endpoint   900222 non-null  object
 2   user_id    900223 non-null  int64
 3   cohort_id  847330 non-null  float64
 4   source_ip  900223 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 34.3+ MB

### Prepare

In [6]:
#turn date into datetime
df.date = df.date.astype("datetime64")
#set date into index
df = df.set_index("date").sort_index()